<div class="row border-bottom">
    <nav class="navbar navbar-static-top  grey-bg " role="navigation">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
               href="#"><i class="fa fa-bars"></i> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="welcome-message">
                <span class="m-r-sm text-muted">
                    <a href="http://ltsadmin.isesoldev.com/index.htm" target="_blank"><span class="label label-info"><i class="fa fa-github"></i> Dev</span></a>
                    <a href="https://ltsadmin.i5sesol.com/index.htm" target="_blank"><span class="label label-info"><i class="fa fa-github"></i> Qa</span></a>
                    <a href="https://ltsadmin.preisesol.com/index.htm" target="_blank"><span class="label label-info"><i class="fa fa-github"></i> Pre</span></a>
                    <a href="https://ltsadmin.isesol.com/index.htm" target="_blank"><span class="label label-info"><i class="fa fa-github"></i> Prod</span></a>
                </span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                   href="#">
                    <img class="img-circle" style="width:30px;" src="${contextPath}/assets/img/avatar.jpeg">
                    <span>$!username</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">我的应用</a></li>
                    #if( !$authority )
                    <li><a href="${contextPath}/authority/modify-password.htm">修改密码</a></li>
                    #end
                    <li><a href="#">退出</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
