html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
body > .container {
    padding: 30px 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.navbar-default {
    background-color: #333;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}