<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>权限配置</h2>
        <ol class="breadcrumb">
            <li><a>我是管理员</a></li>
            <li class="active"><b>权限分配（taskTracker）</b></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3><span class="text-navy">查找帐号</span></h3>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" onsubmit="return false">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">关键词</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="realTaskId" value=""
                                       placeholder="帐号名或者邮箱" disabled>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-primary" type="button" id="searchBtn">
                                    搜索
                                </button>
                            </div>

                            <div class="col-sm-4">
                                <select class="form-control selectpicker" id="taskTrackerNodeGroup">
                                    <option value="">--- 无 ---</option>
                                    #foreach ($acc in $!accounts)
                                         <option value="$acc.id">${acc.username} - ${acc.email}</option>
                                    #end
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h3><span class="text-navy">已拥有权限</span></h3>
                </div>
                <div class="ibox-content" id="ltstableContainer-have">
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="form-group row">
                        <h3>
                            <span class="text-navy">所有节点</span>
                        </h3>
                        <div class="col-sm-3">
                            <select name="nodeType" class="form-control">
                                <option value="">所有</option>
                                <option value="JOB_CLIENT">JOB_CLIENT</option>
                                <option value="TASK_TRACKER">TASK_TRACKER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" id="ltstableContainer-all">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    1、管理员分配普通用户对执行节点的操作权限。</br>
                    2、目前只支持到执行节点 taskTracker 的配置权限。
                </div>
            </div>
        </div>
    </div>
</div>

<script id="ltstable-have" type="text/html">
    <table class="table table-stripped toggle-arrow-tiny footable" data-page-size="10">
        <thead>
        <tr>
            <th data-toggle="true">节点类型</th>
            <th>节点组名</th>
            <th>节点组创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each rows as row index}}
        <tr>
            <td>{{row.nodeType}}</td>
            <td>{{row.nodeGroup}}</td>
            <td>{{row.createTime | dateFormat:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{row.opt | format:'optFormat',row}}</td>
        </tr>
        {{/each}}
        {{if results == 0}}
        <tr>
            <td colspan="4">暂无数据</td>
        </tr>
        {{/if}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <span>共{{results}}条记录，每页展示{{pageSize}}条</span>
                <ul class="pagination-sm pull-right"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</script>

<script id="ltstable-all" type="text/html">
    <table class="table table-stripped toggle-arrow-tiny footable" data-page-size="10">
        <thead>
        <tr>
            <th data-toggle="true">节点组名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each rows as row index}}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.opt | format:'optFormatAdd',row}}</td>
        </tr>
        {{/each}}
        {{if results == 0}}
        <tr>
            <td colspan="4">暂无数据</td>
        </tr>
        {{/if}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <span>共{{results}}条记录，每页展示{{pageSize}}条</span>
                <ul class="pagination-sm pull-right"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</script>

<script>
    $(document).ready(function () {

        LTS.colFormatter.optFormat = function (v, row) {
            return '<a href="javascript:;" class="node-group-del-btn" nodeGroup="' + row.id + '" nodeType="' + row.username + '">' +
                    '<span class="label label-primary" style="background-color: #DD6B55;"><i class="fa fa-trash-o"></i> 删</span></a>';
        }
        var ltsTable = $("#ltstableContainer-have").ltsTable({
            url: '../api/safe/account/node-get',
            templateId: 'ltstable-have'
        });
        ltsTable.post({'userId':1},1);


        LTS.colFormatter.optFormatAdd = function (v, row) {
            return '<a href="javascript:;" class="node-group-del-btn" nodeGroup="' + row.id + '" nodeType="' + row.username + '">' +
                    '<span class="label label-primary" style="background-color: green;"><i class="fa fa-trash-o"></i> 加</span></a>';
        }
        var ltsTableAll = $("#ltstableContainer-all").ltsTable({
            url: '../api/node/node-group-get',
            templateId: 'ltstable-all'
        });
        ltsTableAll.post({'nodeType':"TASK_TRACKER"},1);

        // --------------------------------------------------------

        $(document).on("change", "#taskTrackerNodeGroup", function () {
            var acountId = $("select[id='taskTrackerNodeGroup']").val();
            console.log(acountId);
        });

        $(document).on("click", "#savePass", function () {
            var params = {};
            $.each($('#form').parent().find(".form-control"), function () {
                var name = $(this).attr("name");
                var value = $(this).val().trim();
                params[name] = value;
            });

            if (!params['oldPassword']) {
                sweetAlert("警告", "原密码，必填", "error");
                return;
            }
            if (!params['password']) {
                sweetAlert("警告", "新密码，必填", "error");
                return;
            }
            if (!params['password2'] || params['password'] != params['password2']) {
                sweetAlert("警告", "新密码必须相同", "error");
                return;
            }

            $.ajax({
                url: '../api/safe/modify-password.do',
                type: 'POST',
                dataType: 'json',
                data: params,
                success: function (json) {
                    if (json && json.success) {
                        swal('密码修改成功');
                        $("#resetBtn").trigger("click");
                    } else {
                        if (json) {
                            swal(json['msg']);
                        }
                    }
                }
            });
        });
    });
</script>